@charset "utf-8";

/* Main Page*/
body{
	background-image:url("../res/homebackground.jpg");
	background-attachment: fixed;
	background-size:cover;
}


.left{
	float:left;

}

.right{
	float:right;

}

/*Navigation Bar*/
.main-nav{
	
}

.main-nav ul{
	padding:0;
	list-style-type:none;
	display:table;
	width:100%;
	
}

.main-nav ul li{
	display:table-cell;
	margin:0 auto;
	width:8%;
	
	text-align: center;
}



.main-nav a{
	color:#FF9933;
	font-size:150%;
	font-weight:bold;
	font-family: "Trebuchet MS";
	
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
	-moz-transform:scale(1,1.5); /* Firefox */
	-ms-transform:scale(1,1.5); /* IE 9+ */
	-o-transform:scale(1,1.5); /* Opera */
	
	-webkit-transition: text 1.0s;
}

/*The home glyphicon*/
.main-nav ul li a span{
	font-size:65px;
}

.main-nav ul li a:hover span{
	color:#94B8FF;
	
}