@charset "utf-8";

/* Main Page*/
html,body {
	width:100%;
	height:100%;

}

body{
	
	background-image:url("../res/homebackground.jpg");
	background-attachment: fixed;
	background-size:cover;
	
}


.left{
	float:left;

}

.right{
	float:right;

}
/*The content container*/
.content-container{
	height:90%;
	
}

/*The footer stuff*/
.footer-container{
	min-height:250px;
	max-height:400px;
	height:10%;
	background-color:#3C3C3E;
	border-radius: 10px 10px 0px 0px;
	
}

/*Navigation Bar*/
.main-nav{
	height:10%;
}

.main-nav ul{
	padding:0;
	list-style-type:none;
	display:table;
	width:100%;
	
}

.main-nav ul li{
	display:table-cell;
	margin:0 auto;
	width:8%;
	
	text-align: center;
}

.main-nav ul li a:hover{
	text-decoration:none;
	-webkit-transition: all 2s ease;
	border-bottom: 2px solid black;

}

.main-nav a{
	display: block;
	padding:0px auto 0px auto;
	border-bottom: 2px solid transparent;

	color:#FF9933;
	font-size:150%;
	font-weight:bold;
	font-family: "Trebuchet MS";
	
	-webkit-transform:scale(1,1.25); /* Safari and Chrome */
	-moz-transform:scale(1,1.25); /* Firefox */
	-ms-transform:scale(1,1.25); /* IE 9+ */
	-o-transform:scale(1,1.25); /* Opera */
	
	-webkit-transition: all 1s ease;
}

/*The home glyphicon*/
.main-nav ul li a span{
	font-size:65px;
}

.main-nav ul li a:hover span{
	color:#94B8FF;
	border-color:transparent;
	
}

/*The front page editable table*/
.container-table{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:50%;
	border-radius:10px;
	
}

.container-table-row > td{
	padding:0;
	
}

.container-table-row td > input{
	background:transparent;
	width:100%;
	
}